@page "/demo1"
<h3>Demo1</h3>
@*Binding One way*@
<p>@Value</p>

@*Binding Two Ways*@
<input type="number" @bind-value="Value" />

@*Event Binding*@
<button @onclick="Increment">+</button>

@if (Value > 10)
{
    <button disabled="@(Value < 20)" @onclick="() => Decrement(5)">-</button>
}