<h3>Question</h3>
<p>Bonjour @Nickname, voici la question : @Counter</p>
<p>
    @CurrentQuestion
</p>
<button @onclick="@(() => SendResponse("oui"))">Oui</button>
<button @onclick="@(() => SendResponse("non"))">Non</button>
@code {

}
